.about-container {
  max-width: 93%;
  margin: 0 auto;
  text-align: center;
}

.heading {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #fff;
  width: 100%;
}

.slogan {
  margin-top: -1rem;
}

.text {
  color: #fff;
}

.info {
  text-align: left;
  margin-bottom: 2rem;
}

.link {
  color: #f2d272;
}

.sub-heading {
  margin-top: 3rem;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.location-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 2rem;
}

.about-button {
  padding: 1rem 3.2rem;
  background-color: #f2d272;
  text-decoration: none;
  color: #000;
  border-radius: 20px;
  border: 1px solid #000;
}

.info {
  text-align: left;
}

.cafe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cafe-pic {
  width: 50%;
  height: 50%;
  margin: 3rem 2rem 2rem 0;
}

@media screen and (min-width: 767px) {
  .admission-opening-hours-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .accessebility-shop-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .about-container {
    max-width: 1110px;
  }

  .museum-container {
    width: 50%;
    margin: 0 auto;
  }

  .admission {
    width: 40%;
  }

  .accessibility {
    width: 40%;
  }

  .shop {
    width: 40%;
  }

  .opening-hours {
    width: 30%;
  }

  .sub-heading {
    text-align: center;
  }

  .location {
    justify-content: space-around;
    width: 30%;
  }

  .location-info {
    margin-left: 1rem;
  }

  .visit-heading {
    text-align: center;
  }

  .cafe-pic {
    width: 30%;
  }

  .cafe-info {
    width: 40%;
  }

  .cafe {
    justify-content: space-around;
  }

  .info {
    margin-left: 1rem;
  }
}
