h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 20px;
}

.about-container {
  max-width: 93%;
  margin: 0 auto;
}

.heading {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #fff;
  width: 100%;
}

.community-heading {
  text-align: left;
  margin-top: 4rem;
}

.visit-heading {
  text-align: center;
  margin-top: 4rem;
}

.text {
  color: #fff;
}

.info {
  text-align: left;
  margin-bottom: 4rem;
}

.link {
  color: #f2d272;
}

.about-button {
  padding: 1rem 3.2rem;
  background-color: #f2d272;
  text-decoration: none;
  color: #000;
  border-radius: 20px;
  border: 3px solid #00000000;
}

.about-button:hover {
  text-decoration: underline;
  border: 3px solid #000;
}

.button {
  text-align: center;
  margin: 4rem 0;
}

.row {
  display: flex;
  flex-direction: column;
}

.horisontal {
  flex-direction: row;
}

.column {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.horisontal .column:first-of-type {
  margin-right: 2rem;
}

.map {
  width: 100%;
}

.cafe-pic {
  width: 100%;
}

@media screen and (min-width: 767px) {
  .about-container {
    max-width: 1110px;
  }

  .museum-container {
    width: 60%;
    margin: 0 auto;
  }

  .visit-heading {
    text-align: center;
  }

  .row {
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
  }

  .column {
    flex-direction: row;
    justify-content: space-between;
  }

  .map {
    width: 50%;
  }

  .cafe-pic {
    width: 90%;
  }
}
