.exhibition-container {
  width: 93%;
  margin: 0 auto;
}

.heading {
  text-align: center;
}

.sub-heading {
  text-align: center;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5rem;
}

.exhibition-pic {
  height: 47%;
  width: 47%;
  margin-top: 1.6rem;
  border-radius: 20px;
}

.exhibition-info {
  width: 50%;
}

.exhibition-pic-2 {
  width: 80%;
  margin: 7rem auto 1rem auto;
  display: block;
  border-radius: 20px;
}

.exhibition-info-2 {
  width: 80%;
  margin: 0 auto 3rem auto;
}

@media screen and (min-width: 767px) {
  .exhibition-container {
    max-width: 1110px;
  }

  .heading {
    text-align: left;
  }

  .category {
    flex-direction: column;
  }

  .exhibition-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .exhibition-pic {
    height: 285px;
    width: 285px;
    margin: 0;
  }

  .exhibition-pic-2 {
    height: 285px;
    width: 475px;
    margin: 0;
    display: flex;
  }

  .exhibition-info-2 {
    margin: 0;
  }
}
