@font-face {
  font-family: "rockwell";
  src: url("../assets/font/rockwell-normal.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rockwell";
  src: url("../assets/font/rockwell-bold.ttf");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "rockwell";
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

.theme {
  min-height: 100vh;
  background: rgb(2, 48, 43);
  background: linear-gradient(
    180deg,
    rgba(2, 48, 43, 1) 36%,
    rgba(24, 56, 83, 1) 100%
  );
}

.heading {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #fff;
  width: 100%;
  text-align: center;
}

.text {
  color: #fff;
}

#light-switch:checked + .theme {
  background: rgb(242, 210, 114);
  background: linear-gradient(
    180deg,
    rgba(242, 210, 114, 0.6982143199076505) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

#light-switch:checked + .theme .text {
  color: #000;
}

#light-switch:checked + .theme .heading {
  border-bottom: 2px solid #000;
}

#light-switch:checked + .theme .link {
  color: #163a59;
}

.hero-banner {
  height: 342px;
  width: 100%;
  background-image: url("../assets/img/hero-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.logo-hero-banner {
  z-index: 20;
  width: 90%;
  position: absolute;
  top: 1rem;
  padding: 1rem;
  background-color: #ffffff60;
  border-radius: 20px;
}

.desktop-only {
  display: none;
}

.explore-exhibition {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.home-page-pic {
  margin-top: 2rem;
  width: 92%;
  border-radius: 20px;
}

.explore-exhibition-info {
  color: #fff;
  padding: 1rem;
  width: 87%;
  background-color: #00000095;
  border-radius: 20px;
  position: absolute;
  top: 22%;
}

.home-page-button {
  margin: 2rem 0;
  padding: 1rem 3.2rem;
  background-color: #f2d272;
  text-decoration: none;
  color: #000;
  border-radius: 20px;
  border: 3px solid #00000000;
}

.home-page-button:hover {
  text-decoration: underline;
  border: 3px solid #000;
}

.exhibition-button {
  padding: 1rem;
}

.special-events-background {
  background-image: url("../assets/img/special-events-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.special-events-content {
  z-index: 2;
  width: 93%;
  height: 100%;
  margin: 0 auto;
  background-color: #00000050;
  border-radius: 20px;
  padding: 1rem;
}

.special-events {
  display: flex;
  position: relative;
  width: 100%;
  padding: 2rem 0;
}

.event-pics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.event-section {
  width: 100%;
}

.event-pic {
  width: 40%;
  height: 40%;
}

.energy-pic {
  margin-top: 1rem;
}

.read-more-link {
  float: right;
  color: #f2d272;
}

.events-heading {
  color: #fff;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #fff;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .heading {
    text-align: left;
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  .hero-banner {
    height: 533px;
    justify-content: flex-start;
  }

  .overlay {
    width: 50%;
    background-color: #ffffff60;
  }

  .logo-hero-banner {
    top: 9rem;
    left: 1rem;
    width: 48%;
    padding: 0;
    background-color: transparent;
  }

  .flex-container {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .explore-exhibition {
    margin: 6rem 0;
  }

  .special-events-content {
    max-width: 1110px;
  }

  .event-pic {
    width: 30%;
    padding: 1rem;
  }

  .energy-pic {
    margin: 0;
  }

  .events-heading {
    text-align: left;
  }
}
